@import url("./_variables.css");
@import url("./bootstrap_overrides/_modals.css");
@import url("./components/displaygrid.css");

/* Import components */

@import url("./components/_search.css");
@font-face {
    font-family: "Amstelvar";
    src: local("Amstelvar"), url("../fonts/amstelvar/Amstelvar-Roman[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,wdth\,wght\,opsz].ttf") format("truetype");
}

::selection {
    background: transparent;
}

a,
a:visited {
    color: var(--theme-primary-2);
}

body {
    background-color: var(--theme-background);
    font-family: 'Amstelvar', system-ui, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#orientation-warning {
    display: none;
    margin: 0 auto;
    position: absolute;
    top: 0;
    color: var(--theme-text-light);
}

@media (orientation: portrait) {
    #orientation-warning {
        display: block;
    }
}

.app-logo {
    bottom: 10px;
    opacity: 30%;
    position: fixed;
    right: 10px;
    transition: opacity 0.2s ease-in-out;
}

.sideBar-open .app-logo {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#sidebar {
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: width 0.2s ease-out, background-color 0.2s ease-out;
    width: 3vw;
    z-index: 100;
}

#sidebar .sidebar-opener {
    display: block;
    height: 5%;
    transition: height .2s ease-out;
}

#sidebar .sidebar-opener .hamburger {
    height: 100%;
    width: 100%;
    
}

.sideBar-open #sidebar .sidebar-opener {
    height: 0;

}

.sideBar-open #sidebar {
    background-color: var(--theme-backdrop);
    width: 12vw;
}

@media (orientation: landscape) and (max-height: 575.98px) {
    #sidebar {
        width: 6vw;
    }
    .sideBar-open #sidebar {
        width: 80vw;
    }
}

@media (orientation: portrait) {
    #sidebar {
        width: 12vw;
    }
    .sideBar-open #sidebar {
        width: 100vw;
    }
    #sidebar img.hamburger {
        max-width: 64px;
    }
    #sidebar .sidebar-exit span {
        right: 20px;
        top: 0;
    }
}

#sidebar img.hamburger {
    max-width: 24px;
    opacity: 1;
    transition: opacity 0.2s ease-out;
    width: 45%;
}

.sideBar-open #sidebar img.hamburger {
    opacity: 0;
}

#sidebar .sidebar-exit {
    color: var(--theme-text-light);
    display: none;
    position: relative;
}

#sidebar .sidebar-exit span {
    position: absolute;
    right: 5px;
}

#sidebar .sidebar-exit span a {
    background-color: var(--theme-primary-2);
    border-radius: 12.5px;
    color: var(--theme-text-dark);
    display: block;
    font-size: .85rem;
    height: 21px;
    text-decoration-line: none;
    width: 21px;
}

.sideBar-open #sidebar .sidebar-exit {
    display: block;
    height: 5%;
}

.sidebar-app-logo {
    margin: 0 auto;
    opacity: 0;
    width: 85%;
}

.sidebar-app-logo img {
    width: 100%;
}

.sideBar-open #sidebar .sidebar-app-logo {
    opacity: 75%;
}

#sidebar .menu {
    opacity: 0;
}

#sidebar .menu ul {
    margin: 0;
    padding: 0;
}

#sidebar .menu ul li {
    display: block;
}

#sidebar .menu ul li a {
    color: var(--theme-primary-2);
    display: block;
    font-size: 1.5rem;
    padding: 5%;
    text-decoration-line: none;
}

#sidebar .menu ul li a:hover {
    text-decoration-line: underline;
}

@media (orientation: portrait) {
    #sidebar .menu ul li a {
        font-size: 2.5rem;
    }
}

.sideBar-open #sidebar .menu {
    opacity: 1;
}

@media (orientation: landscape) and (max-height: 575.98px) {
    .sideBar-open #sidebar {
        width: 100vw;
    }
    .sidebar-app-logo {
        float: left;
        opacity: 0;
        width: 50%;
    }
    .menu {
        float: left;
        width: 50%;
    }
}

.popover {
    position: absolute;
    border: 1 solid white;
    display: none;
    height: 85%;
    left: middle;
    top: 25px;
    width: 85%;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}