@import url("./_variables.css");
@import url("./_index.css");

body {
  overflow-x: hidden;
}

.tag-grid {
  display: grid;
  grid-auto-rows: 40vh;
  grid-template-columns: 33.3vw 33.3vw auto;
  margin: 0 auto;
  width: 100vw;
}

@media (orientation: portrait) {
  .tag-grid {
    grid-auto-rows: 30vh;
    grid-template-columns: 50vw 50vw;
  }
}

.tag-grid img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.tag-grid a {
  color: unset;
  display: block;
  height: 100%;
  width: 100%;
}

.tag-grid a h1 {
  display: block;
  font-size: 3.5vh;
  height: 100%;
  line-height: 10.5;
  text-align: center;
  text-shadow: #e4dedd 0 0 10px;
  text-transform: capitalize;
  width: 100%;
}
