@import url("./_variables.css");
@import url("./_index.css");
body {
    overflow-x: hidden;
}

.tag-image-grid {
    display: grid;
    grid-template-columns: 33.3vw 33.3vw auto;
    margin: 0 auto;
    width: 100vw
}

@media (orientation: portrait) {
    .tag-image-grid {
        grid-auto-rows: 30vh;
        grid-template-columns: 50vw 50vw;
    }
}

.tag-image-grid img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

#breadcrumbs {
    background-color: var(--theme-backdrop);
    height: 5%;
    width: 100%;
    position: absolute;
    top: 0;
}

#breadcrumbs ul {
    list-style: none;
    vertical-align: top;
    padding: 0 15%;
    margin: 0;
    height: 100%;
}

#breadcrumbs ul li {
    display: inline-block;
    vertical-align: top;
    padding: .9% 0;
    height: 100%;
}

#breadcrumbs ul li:not(:last-child):after {
    content: '>>';
    color: white;
    text-align: center;
    width: 50px;
    display: inline-block;
    font-size: 95%;
    vertical-align: middle;
}

#breadcrumbs ul li a {
    vertical-align: top;
}