@import url("../_variables.css");

#search-container {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 20%;
}

#search-input {
  padding-left: 3rem;
  outline: 1px solid var(--theme-text-light-45pct);
  font-size: 200%;
  border: none;
  border-radius: 12.5rem;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: var(--theme-text-light);
  width: 100%;
  backdrop-filter: blur(0);
  transition: backdrop-filter var(--tr-timer-short) ease-in-out, background-color var(--tr-timer-short) ease-in-out, color var(--tr-timer-short) ease-in-out;
}

#search-input:focus {
  backdrop-filter: blur(10px);
  background-color: rgba(255,255,255, 0.8);
  color: var(--theme-text-dark);
}

#search-results {
  display: none;
  width: 100%;
  max-height: 700px;
  overflow-y: scroll;
  backdrop-filter: blur(10px);
}

#search-container:has(#search-input:not(:placeholder-shown)) #search-results {
  display: block;
}

#search-container:has(#search-input:focus) {
  width: 50%;
  transition: width var(--tr-timer-short) ease-in-out;
}

#search-container:not(:has(#search-input:focus)) {
  transition: width var(--tr-timer-short) ease-in-out;
}

#search-container:not(:focus) #search-results {
  display: none;
}

#search-icon-container {
  height: 24px;
  width: 24px;
  background-color: var(--theme-text-light-45pct);
  -webkit-mask: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M11.742,10.344c0.817,-1.114 1.257,-2.461 1.257,-3.842c0,-3.566 -2.934,-6.5 -6.5,-6.5c-3.566,-0 -6.5,2.934 -6.5,6.5c0,3.566 2.934,6.5 6.5,6.5c1.383,-0 2.731,-0.442 3.846,-1.26l-0.001,0c0.03,0.04 0.062,0.078 0.098,0.115l3.85,3.85c0.188,0.188 0.442,0.293 0.707,0.293c0.549,0 1.001,-0.451 1.001,-1c-0,-0.265 -0.106,-0.52 -0.293,-0.707l-3.85,-3.85c-0.036,-0.036 -0.074,-0.07 -0.115,-0.1l-0,0.001Zm-0.29,-3.844c-0,2.716 -2.236,4.952 -4.952,4.952c-2.716,-0 -4.952,-2.236 -4.952,-4.952c0,-2.716 2.236,-4.952 4.952,-4.952c2.716,0 4.952,2.236 4.952,4.952Z" style="fill-rule:nonzero;"/></svg>') no-repeat 0 0;
  mask: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M11.742,10.344c0.817,-1.114 1.257,-2.461 1.257,-3.842c0,-3.566 -2.934,-6.5 -6.5,-6.5c-3.566,-0 -6.5,2.934 -6.5,6.5c0,3.566 2.934,6.5 6.5,6.5c1.383,-0 2.731,-0.442 3.846,-1.26l-0.001,0c0.03,0.04 0.062,0.078 0.098,0.115l3.85,3.85c0.188,0.188 0.442,0.293 0.707,0.293c0.549,0 1.001,-0.451 1.001,-1c-0,-0.265 -0.106,-0.52 -0.293,-0.707l-3.85,-3.85c-0.036,-0.036 -0.074,-0.07 -0.115,-0.1l-0,0.001Zm-0.29,-3.844c-0,2.716 -2.236,4.952 -4.952,4.952c-2.716,-0 -4.952,-2.236 -4.952,-4.952c0,-2.716 2.236,-4.952 4.952,-4.952c2.716,0 4.952,2.236 4.952,4.952Z" style="fill-rule:nonzero;"/></svg>') no-repeat 0 0;
  position: absolute;
  top: 14px;
  left: 14px;
  transition: background-color var(--tr-timer-short) ease-in-out;
}

#search-container:has(#search-input:focus) #search-icon-container {
  background-color: var(--theme-text-dark-45pct);
}

#search-container ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

#search-container ul li {
  margin-bottom: .35rem;
  height: 100px;
}

#search-container ul li a {
  color: var(--theme-text-light);
  height: 100%;
  display: block;
  cursor: pointer;
}

#search-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#search-container ul li a img {
  height: 100%;
  display: inline;
}

#search-container ul li a p {
  padding: 0 1.5rem;
  display: inline;
}
