body {
    background-color: var(--theme-primary-3);
}

.app-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.app-container > div
{
    width: 33%;
    height: 50vh;
    flex-grow: 1;
    position: relative;
}
.app-container > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.app-container > div > span {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    padding: 0 0.45vw;
    color: white;
    opacity: 0;
    white-space: pre;
    
}
.app-container > div:hover > span {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-name: fadein;
    animation-fill-mode: forwards;
}

.app-container > div:nth-child(5n+1),
 .app-container > div:nth-child(5n+2) {
    width: 50%;
    height: 50vh;
}

.app-container > div:nth-child(5n+1) > img,
 .app-container > div:nth-child(5n+2) > img {
     height: 100%;
     width: 100%;
     object-fit: cover;
     object-position: center;
 }
 
.app-logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-name: faded;
    animation-fill-mode: forwards;

}
@keyframes faded {
    from {
        opacity: 100%;
    }
    to {
        opacity: 30%;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }

}