body {
  overflow-x: hidden;
}

.tag-grid {
  display: grid;
  grid-auto-rows: 40vh;
  grid-template-columns: 33.3vw 33.3vw auto;
  margin: 0 auto;
  width: 100vw;

}

@media (orientation: portrait) {
  .tag-grid {
    grid-auto-rows: 30vh;
    grid-template-columns: 50vw 50vw;
  }
}

.tag-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag-grid a {
  display: block;
  height: 100%;
  width: 100%;
  color: unset;
}

.tag-grid a h1 {
  text-align: center;
  height: 100%;
  width: 100%;
  display: block;
  line-height: 10.5;
  font-size: 3.5vh;
  text-shadow: #e4dedd 0 0 10px;
  text-transform: capitalize;
}
