:root {
    --theme-primary-1: rgba(73, 149, 165, 1);
    --theme-primary-2: rgba(191, 216, 195, 1);
    --theme-primary-3: rgba(216, 188, 102, 1);
    --theme-primary-4: rgba(242, 149, 93, 1);
    --theme-primary-5: rgba(216, 107, 82, 1);
}
