body {
    overflow-x: hidden;
}
.tag-image-grid {
    display: grid;
    grid-template-columns: 33.3vw 33.3vw auto;
    margin: 0 auto;
    width: 100vw
}

.tag-image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
